@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #9fd6e3;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contendor-pagos {
    text-align: center;
    width: 500px;
    padding: 290px;
    font-size: 30px;
}

.volver{
    color: #1a3d42;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Roboto';
}

.volver:hover{
    text-decoration: underline;
}